[Desktop Entry]
Name=Postman
Exec=/home/cosnate/.local/share/applications/Postman/Postman
Terminal=false
Type=Application
Icon=postman
StartupWMClass=studio
X-AppImage-Version=1.9.10
Comment=studio
MimeType=x-scheme-handler/studio;
Categories=Office;
