[Desktop Entry]
Name=Zen Browser
Exec=/home/cosnate/.local/share/applications/zen/zen
Icon=zen
Type=Application
Categories=Network;WebBrowser;
Terminal=false
